// Stolen from:
// https://github.com/Vincit/objection.js/blob/master/doc/.vuepress/styles/palette.styl
$accentColor = #1c90d0;
$textColor = #DDDDDD;
$borderColor = #383838;
$codeBgColor = #252525;

$bgColor = #1E1E1E;
$mediumBgColor = #252525;
$lightBgColor = #383838;
