User:
  type: object
  properties:
    # id: # the hashid
    #   type: string
    #   readOnly: true
    username:
      type: string
      minLength: 4
      maxLength: 15
      pattern: ^\w+$
    email:
      type: string
      format: email
    password:
      type: string
      minLength: 8
      maxLength: 60
      writeOnly: true
    verified:
      type: boolean
      default: false
      # readOnly: true
    role:
      type: string
      enum:
        - user
        - admin
      default: user
  required:
    - username
    - email
    - password
  additionalProperties: false
