# https://expressjs.com/en/guide/behind-proxies.html
proxy: true

logger:
  options:
    timestamp: false
    prettyPrint: false

# copy+paste the output of the following command to replace secret:
# node -p "require('nanoid')(24)"
session:
  secret:

ratelimit:
  windowMs: 900e+3 # 15 minutes, in milliseconds
  max: 100

mailQueue:
  # this is just an SES example. modify as you see fit for your service (especially Sendgrid)
  limiter:
    max: 14
    duration: 1e+3 # 1 second in millis

mail:
  # services available at: https://nodemailer.com/smtp/well-known
  smtp:
    service: sendgrid
    auth:
      user: apikey
      pass:
  defaults:
    from: production@example.com
